@media (max-width: 375px) {
  .header {
    display: none;
  }
  .preview__lang {
    display: none;
  }

  .preview__discr {
    flex-direction: column;
    align-items: flex-start;
  }
  .container {
    width: 90%;
  }
  .preview__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .burger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    padding-top: 5px;
  }
  .burger__line {
    width: 33px;
    background-color: #000;
    height: 4px;
  }
  .preview__name {
    line-height: 1;
  }
}
